build.bat
build - 복사본.bat
build_Official_ver.bat
Official_ver/build/UMB_Terminal/Analysis-00.toc
Official_ver/build/UMB_Terminal/base_library.zip
Official_ver/build/UMB_Terminal/EXE-00.toc
Official_ver/build/UMB_Terminal/localpycs/pyimod01_archive.pyc
Official_ver/build/UMB_Terminal/localpycs/pyimod02_importers.pyc
Official_ver/build/UMB_Terminal/localpycs/pyimod03_ctypes.pyc
Official_ver/build/UMB_Terminal/localpycs/pyimod04_pywin32.pyc
Official_ver/build/UMB_Terminal/localpycs/struct.pyc
Official_ver/build/UMB_Terminal/PKG-00.toc
Official_ver/build/UMB_Terminal/PYZ-00.pyz
Official_ver/build/UMB_Terminal/PYZ-00.toc
Official_ver/build/UMB_Terminal/UMB_Terminal.pkg
Official_ver/build/UMB_Terminal/warn-UMB_Terminal.txt
Official_ver/build/UMB_Terminal/xref-UMB_Terminal.html
Official_ver/dist/UMB_Terminal.exe
Official_ver/spec/UMB_Terminal.spec
ws_Series_Terminal_v1.py
build_spec/v1/ws_Series_Terminal_v1.spec
build_spec/v2/ws_Series_Terminal_v2.spec
build_temp/v1/ws_Series_Terminal_v1/Analysis-00.toc
build_temp/v1/ws_Series_Terminal_v1/base_library.zip
build_temp/v1/ws_Series_Terminal_v1/EXE-00.toc
build_temp/v1/ws_Series_Terminal_v1/localpycs/pyimod01_archive.pyc
build_temp/v1/ws_Series_Terminal_v1/localpycs/pyimod02_importers.pyc
build_temp/v1/ws_Series_Terminal_v1/localpycs/pyimod03_ctypes.pyc
build_temp/v1/ws_Series_Terminal_v1/localpycs/pyimod04_pywin32.pyc
build_temp/v1/ws_Series_Terminal_v1/localpycs/struct.pyc
build_temp/v1/ws_Series_Terminal_v1/PKG-00.toc
build_temp/v1/ws_Series_Terminal_v1/PYZ-00.pyz
build_temp/v1/ws_Series_Terminal_v1/PYZ-00.toc
build_temp/v1/ws_Series_Terminal_v1/warn-ws_Series_Terminal_v1.txt
build_temp/v1/ws_Series_Terminal_v1/ws_Series_Terminal_v1.pkg
build_temp/v1/ws_Series_Terminal_v1/xref-ws_Series_Terminal_v1.html
build_temp/v2/ws_Series_Terminal_v2/Analysis-00.toc
build_temp/v2/ws_Series_Terminal_v2/base_library.zip
build_temp/v2/ws_Series_Terminal_v2/EXE-00.toc
build_temp/v2/ws_Series_Terminal_v2/localpycs/pyimod01_archive.pyc
build_temp/v2/ws_Series_Terminal_v2/localpycs/pyimod02_importers.pyc
build_temp/v2/ws_Series_Terminal_v2/localpycs/pyimod03_ctypes.pyc
build_temp/v2/ws_Series_Terminal_v2/localpycs/pyimod04_pywin32.pyc
build_temp/v2/ws_Series_Terminal_v2/localpycs/struct.pyc
build_temp/v2/ws_Series_Terminal_v2/PKG-00.toc
build_temp/v2/ws_Series_Terminal_v2/PYZ-00.pyz
build_temp/v2/ws_Series_Terminal_v2/PYZ-00.toc
build_temp/v2/ws_Series_Terminal_v2/warn-ws_Series_Terminal_v2.txt
build_temp/v2/ws_Series_Terminal_v2/ws_Series_Terminal_v2.pkg
build_temp/v2/ws_Series_Terminal_v2/xref-ws_Series_Terminal_v2.html
release_build.bat
released/ws_Series_Terminal_v1.exe
released/ws_Series_Terminal_v2.exe
ws_terminal_dark.ico
